<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'pollapp/css/bootstrap.css' %} ">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>  
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">RR Donnelley</a>
          <div class="nav-collapse collapse">

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">需求收集</li>
              <li><a href="{% url 'polls:contact' %}">选择对象</a></li>
              <li><a href="#">查看汇总</a></li>
              <li class="nav-header">订单跟踪</li>
              <li><a href="#">在途订单</a></li>
              <li><a href="#">历史订单</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

		    <div class="span9">
		    {% block content %}{% endblock %}
    		{% block footer %}{% endblock %}
		    </div><!--end content-->
      </div><!--row-fluid-->
    </div><!--container-fluid-->
    <script src="{% static 'pollapp/js/jquery.js' %}"></script>
    <script src="{% static 'pollapp/js/bootstrap.js' %}" %}></script>
        {% block page_specific %}  
        {% endblock %}  
</body>
</html>